#jqt.fullscreen #home .info {
    display: none;
}
div #aboutDiv {
    padding: 30px 10px 40px;
    text-shadow: rgba(0, 0, 0, 0.3) 0px -1px 0;
    color: #999;
    font-size: 13px;
    text-align: center;
    background: #161618;
}
div #aboutDiv p {
    margin-bottom: 8px;
}
div #aboutDiv a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.subheading {
    font-size: 70%; 
    font-style: normal; 
    color: gray; 
    padding: 0px;
}